.container {
    background-color: white;
    width: 100%;
    height: 130px;
    display: flex;
    flex-direction: column;
}
.infoBar {
    background-color: #FFC001;
    height: 50px;
    width: 100%;
    display: flex;  
    justify-content: space-around; 
}
.title {
    display: flex;
    justify-content: center;
    height: 80%;
    align-items: center;
}
.item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item span {
    margin-right: 5px;
}

.item button {
    background-color: #4472C4;
    border-radius: 5px;
    width:100px;
    color: white;
    border: none;
    border: 1px solid #4472C4;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
